<div class="container">
    <div class="row">
        <header class="col mt-1 border border-dark text-center"><h1>Coda Home Page</h1></header>
    </div>
    <div class="row mt-1">
        <div class="col-md-6 p-0">
            <div class="col border border-dark p-0">
                <div class="col-12 border-bottom border-dark"><small>Reconsilation Dashboard</small></div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <ul class="btnList">
                            <li>
                                <button class="btn btn-outline-secondary btn-sm btn-block">Facets</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block">Proclaim</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block">Power</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block">Express Scripts</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 mt-2">
                        <ul class="btnList">
                            <li>
                                <button class="btn btn-outline-secondary btn-sm btn-block"># of Balance Discrepancies</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block"># of Balance Discrepancies</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block"># of Balance Discrepancies</button>
                                <button class="btn btn-outline-secondary btn-sm btn-block"># of Balance Discrepancies</button>
                            </li>
                        </ul>
                    </div>
                </div>                
                <div class="col-12 border-top border-dark">&nbsp;&nbsp;</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col mt-2">
                    <button class="btn btn-outline-secondary btn-sm btn-cust mr-1" [routerLink]="['/accountsearch']">Account Search</button>
                    <button class="btn btn-outline-secondary btn-sm btn-cust mr-1" [routerLink]="['/members']">Member Search</button>
                    <button class="btn btn-outline-secondary btn-sm btn-cust">Find Transaction</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-outline-secondary btn-sm btn-cust mr-1">Replay Transaction</button>
                    <button class="btn btn-outline-secondary btn-sm btn-cust mr-1">Update Transaction(s)</button>
                    <button class="btn btn-outline-secondary btn-sm btn-cust">Manager Dashboard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 border border-dark p-0">
            <div class="col-12 border-bottom border-dark"><small>Worker's Name Queue</small></div>
            <div class="row">
                <div class="col-12 p-4">
                    <p>some content</p>
                    <p>some content</p>
                </div>
            </div>
            <div class="col-12 border-top border-dark">&nbsp;</div>
        </div>
    </div>
</div>