<div class="container">
    <div class="row">
        <header class="col mt-1 border border-dark text-center"><h1>Member's Search</h1></header>
    </div>
    <div class="row mt-1">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="memberId">Member's Id :</label>
                    <input class="form-control" type="text" formControlName="memberId">                    
                  </div> 
                  <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block" type="submit">Member Search</button>
                  </div>
            </form>
        </div>
        <div class="col-md-6">
            <form [formGroup]="membersForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userId">UserId :</label>
                    <input class="form-control" type="text" formControlName="userId">                    
                  </div>
                  <div class="form-group">
                    <label for="policyId">PolicyId :</label>
                    <input class="form-control" type="text" formControlName="policyId">                    
                  </div>
                  <div class="form-group">
                    <label for="GroupId">GroupId :</label>
                    <input class="form-control" type="text" formControlName="GroupId">                    
                  </div>
                  <div class="form-group">
                    <label for="ssn">SSN :</label>
                    <input class="form-control" type="text" formControlName="ssn">                    
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last Name :</label>
                    <input class="form-control" type="text" formControlName="lastName">                    
                  </div>
                  <div class="form-group">
                    <label for="firstName">First Name :</label>
                    <input class="form-control" type="text" formControlName="firstName">                    
                  </div>
                  <div class="form-group">
                    <label for="inNetworkDeductable">In Network Deductable :</label>
                    <input class="form-control" type="text" formControlName="inNetworkDeductable">                    
                  </div>
                  <div class="form-group">
                    <label for="outNetworkDeductable">Out Network Deductable :</label>
                    <input class="form-control" type="text" formControlName="outNetworkDeductable">                    
                  </div>
                  <div class="form-group">
                    <label for="difference">Difference :</label>
                    <input class="form-control" type="text" formControlName="difference">                    
                  </div>
            </form>
        </div>
    </div>
</div>