<div class="container">
    <div class="row">
        <header class="col mt-1 border border-dark text-center"><h1>Update Transactions</h1></header>
    </div>
    <div class="row mt-1 text-center">
        <div class="col-6">
            <button class="btn btn-primary">Choose from file</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary">Manual Upload</button>
        </div>
    </div>
    <div class="row mt-1 text-center">
        <div class="col-12">
            <form>
                <div class="form-group file-upload">
                  <label for="fileUpload">Submit Transaction File</label>
                  <input type="file" class="form-control-file" id="fileUpload">
                </div>
              </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 border border-dark p-0">
            <div class="col-12 border-bottom border-dark"><small>Transactions</small></div>
            <div class="row">
                <div class="col-6 p-4">
                    <form>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Flow</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                  </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Transaction Date</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Umbrella Group ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Account Number</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">First Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Gender</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                  </select>                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Carve Out Indicator</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                  </select>                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Client ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">INN Member Deduction Amount (IMD)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                    </form>
                </div>
                <div class="col-6 p-4">
                    <form>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Vendor</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                  </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Date of Service</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Medical Claim Engine</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                  </select>                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Customer SSN/ Facets Subscriber ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Last Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Claim Network Type</label>
                            <div class="col-sm-6">
                                <select class="form-control form-control-sm">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                  </select>                                    
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">DOB</label>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-sm">                                   
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">INN Member OOP Amount (IMO)</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm">                                    
                            </div>
                          </div>                                                   
                    </form>
                </div>
            </div>
            <div class="col-12 border-top border-dark">&nbsp;</div>
        </div>
    </div>
    <div class="row mt-2 text-center">
        <div class="col-4"><button class="btn btn-primary">Submit</button></div>
        <div class="col-4"><button class="btn btn-primary">Reset</button></div>
        <div class="col-4"><button class="btn btn-primary">Validate</button></div>
    </div>
</div>